target/
*.db
*.args
*.log
*.logdb
*.ini
*.properties
*.config
*.swp
src/main/java/com/couchbase/sdkdclient/dummy/
mvnsh/*
batch/*
*.zip
*.xls
log/
.brun_history/
src/main/java/com/couchbase/sdkdclient/gui/
share
conf
jenkins.py
.install_info
S3Creds*
*.kpf
tmp/
packages/
*.pyc
pylib/.idea
.idea/*
*.iml
